//app
$MAIN_COLOR: #b3b0d5;
$MAIN_COLOR_DEFAULT: #4d4799;
$MAIN_COLOR_LIGHT: rgb(228, 228, 246);
$MAIN_COLOR_MEGA_LIGHT: #bcbcf4;
$MAIN_COLOR_2: rgb(250, 184, 51);


//menu
$MENU_HEIGHT: 75px;
$HEADER_BACKGROUND_COLOR: transparent;

//panels
$SIDE_PANEL_CLOSED_WIDTH: 40px;
$SIDE_PANEL_OPENING_BUTTON_WIDTH: $SIDE_PANEL_CLOSED_WIDTH;
$LEFT_PANEL_WIDTH: 400px;
$MIN_PANEL_WIDTH: 300px;
$MAX_PANEL_WIDTH: 350px;
$SIDE_PANEL_BACKGROUND_COLOR: rgba(255, 255, 255, 0.9);

//mainArea
$MAIN_BACKGROUND_COLOR: transparent;

//footer
$FOOTER_HEIGHT: 35px;

//buttons: piano and answers
$WHITE_PIANO_KEY_COLOR: white;
$BLACK_PIANO_KEY_COLOR: grey;
$HOOVERED_BUTTON_COLOR: rgb(200, 200, 200);
$CLICKED_BUTTON_COLOR: lightBlue;
$GUESSED_COLOR: green;
$BAD_GUESS_COLOR: red;
$PIANO_KEYS_AMIN_TIMEOUT: 0.2s;
$KEY_BORDER_WIDTH: 1px;

//sheets
$LIGHTEN_SHEETS_SET_COLOR: rgba(250, 184, 51, 0.5);

//buttons like more / less
$ANOTHER_BUTTON_BORDER_COLOR: gray;
