@import "../../styles/constans.scss";

div, span {
  overflow: visible;
}

.OneSetOfSheets {
  width: 25%;
  height: 96.9%;
  float: left;
  position: relative;

  .oneSheetWithChroma {
    overflow: visible;
    position: absolute;
    left: 34%;
  }

  .simultaneousSheet {
    position: absolute;
  }

  .chroma {
    margin-left: -15px;
  }
}

@media (max-width: 1000px) {
  .OneSetOfSheets {
    height: 69.9%;
  }
}
