@import "../../styles/constans.scss";

.SheetsApp {
  width: calc(100vw - 2 * #{$SIDE_PANEL_CLOSED_WIDTH});
  height: 100%;
  margin-left: $SIDE_PANEL_CLOSED_WIDTH;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .SheetsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 43%;
  
    &.bassWhenBoth {
      position: absolute;
      left: 33.5%;
      top: 19.5%;
    }
}

.SheetsApp.withoutMenu {
  height: calc(100vh - #{$MENU_HEIGHT} - #{$FOOTER_HEIGHT} - 10px);
  padding-top: calc(#{$MENU_HEIGHT} + 10px);
}
