@import "../../styles/constans.scss";

@keyframes move-right-1 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50000px; /* Zmień wartość na rzeczywistą szerokość przesunięcia */
  }
}

.SheetsSetContainer {
  display: flex;
  justify-content: center;

  &.bassWhenBoth {
    position: absolute;
    left: 33.5%;
    top: 19.5%;
  }

  .Sheets {
    font-family: NewTypeMyMusic;
    font-size: 13vh;
    display: flex; /* Zmieniono z inline-flex na flex */
    justify-content: center;
    margin-bottom: -6px;
    position: relative;
    white-space: nowrap; /* Dodano, aby zapobiec zawijaniu się wierszy */

    .preambule {
      position: relative;

      .trebleClef {
        height: 0.8em;
        position: absolute;
        top: 0.6em;
        left: 0.1em;
      }

      .bassClef {
        height: 0.47em;
        position: absolute;
        top: 0.69em;
        left: 0.1em;
      }
    }

    .sheetsField {
      position: relative;

      .staveField {

      }

      .SheetSets {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        left: 0;
        margin-left: 0;
      }
    }

    .endingLine {
      overflow: visible;
    }

    &.oneOfClefs {
      font-size: 101px;
      height: 160px;
      line-height: 262.4px;
    }


  }

  .actualSet {
    background-color: $LIGHTEN_SHEETS_SET_COLOR;
  }
}
